<div ng-controller="SurveyController" style="padding-top:10px">
	<div class="page-header">
	  <h3>Detalles de Combinacion</h3>
	</div>

	<div style = "overflow: scroll; height:90vh">
	
		<ol>
			<br/>
			<li ng-repeat = "question in preguntas">
				<span style= "font-weight: bold;">{{question.pregunta}}</span>
				<br/>
				<span>{{question.opcion}}</span>
				<br/>
				<br/>
			</li>

		</ol>
		<div id="intervencion" style="height:90vh;">
		<h5>Intervención Criminológica:</h5>
		<p style="margin: 0;padding: 20px 20px 0px 20px;"><b></b></p>
		<p style="text-align: justify;line-height: 26px;padding: 20px 50px 20px 20px;"></p>
	</div>
	</div>
</div>