<div ng-controller="SurveyController" style="padding-top:10px">
	<div class="page-header">
	  <h3>{{ currentSurvey.nombre }}</h3>
	</div>
	<form id="survey" name="surveyForm" ng-submit="submit()" style="overflow: scroll; height:90vh">
		<ol>
			<li ng-repeat="question in questions">
				{{ question.pregunta }}
				<br/>
				<ul>
					<li style="list-style: none;" ng-repeat="option in question.options">
						<span ng-if="userData.rol=='administrador'"><input type="checkbox" name="opcion_de_pregunta_{{ question.id }}" value="{{ option.id_opcion }}"></span>
						<span ng-if="userData.rol=='estudiante'"><input type="radio" name="opcion_de_pregunta_{{ question.id }}" value="{{ option.id_opcion }}" required></span>
						{{ option.opcion }}
					</li>
				</ul>
			</li>
		</ol>
		<div ng-if="userData.rol=='administrador'">
			<h5>Respuesta:</h5>
			<textarea ng-model="data.customAnswer" class="form-control" rows="20" style="width:70%;margin-left: 3px;"></textarea>
			<br/>
		</div>
		<button style="margin-left: 3px;margin-bottom: 3px" class="btn btn-success" type="submit">{{ userData.rol == "administrador"? "Configurar" : "Enviar" }}</button>
	</form>
	<div id="response" style="overflow: scroll; height:90vh; display: none;">
		<h5>Intervención Criminológica:</h5>
		<p style="margin: 0;padding: 20px 20px 0px 20px;"><b>{{ data.customTitle }}</b></p>
		<p style="text-align: justify;line-height: 26px;padding: 20px 50px 20px 20px;"></p>
	</div>
</div>