<?php echo "hola"; ?>
<div ng-controller="SurveyController" style="padding-top:10px">
	<div class="page-header">
	  <h3>{{ currentSurvey.nombre }}</h3>
	</div>
	<ol style="overflow: scroll; height:90vh">
		<li ng-repeat="question in questions">
			{{ question.pregunta }}
			<br/>
			<ul>
				<li style="list-style: none;" ng-repeat="option in question.options">
					<span ng-if="userData.rol=='administrador'"><input type="checkbox"></span>
					<span ng-if="userData.rol=='estudiante'"><input type="radio" name="option_{{ question.id }}"></span>
					{{ option.opcion }}
				</li>
			</ul>
		</li>
	</ol>
</div>